[Unit]
Description=blockdevice-downloader

[Service]
Type=simple
ExecStart=/usr/local/bin/blockdevice-downloader

[Install]
WantedBy=multi-user.target
